@primary-color: #2c3e50;
@font-primary-color: #555;

li {
  list-style: none;
}


.fl {
  float: left;
}
.fr {
  float: right;
}
.ml5 {
  margin-left: 0.31rem;
}
.ml10 {
  margin-left: 0.62rem;
}
.mr5 {
  margin-right: 0.31rem;
}
.mr10 {
  margin-right: 0.62rem;
}
